@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    font-family: 'Montserrat', sans-serif;
  
}


#mainNavbar {
    background-color: white;
    opacity: 0.9;
}
.btn-outline-secondary {border-radius: 70px;}

#intro {
	height: 100%;
	width: 100%;
}



.navbar.scrolled {
    background: rgb(106, 204, 139);
    transition: background 500ms;
    opacity: 0.95;
}



.heading1 {
    font-family: 'Montserrat', sans-serif;

}

.first-header {
    margin-top: 50%;
}

.searchbars {

    align-content: center;
    margin: 2em auto 2em 25%;

}